<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello! {{name}} 당신의 id는 {{id}}입니다 <br />
    login 해주세요

    <form method="post" action="/main">
        id:<input type="text" name="userid"><br />
        password:<input type="password" name="userpw"><br />
        <input type="submit" value="botton"><br />
    </form>
 

</body>
</html>